.container{
    margin: 0;
    padding: 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 15rem);
    list-style: none;
    gap: 0.5rem;
    height: 100%;
    width: 100%;
    justify-items: center;
    justify-content: center;
    margin: auto;
    padding: 1rem 1rem !important;
}
.pokeman-card{
    height: 16rem;
    width: 13rem;
    /* border: 2px solid red; */
    background: #efefef;
    padding: 0.5rem 0.5rem !important;
}
.pokeman-image{
    height: 4rem;
    width: 6rem;
    text-align: center;
}
.grid-three-col{
    display: grid;
    grid-template-columns: repeat(3, auto);
    font-size: 12px;
}